@model ProjeCv.Models.Class.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                AD
            </th>
            <th>
                SOYAD
            </th>
            <th>
                ADRES
            </th>
            <th>
                TELEFON
            </th>
            <th>
                MAIL
            </th>
            <th>
                HAKKIMDA
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
        </tr>
    </tbody>
</table>