
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cv Sitesi</title>
</head>
<body>
    <div style="background-color:blue"> 
        Merhaba Burası Benim View Alanım.
    </div>
</body>
</html>
