@model ProjeCv.Models.Class.Class1
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                ID
            </th>
            <th>
                KONFERANSLAR
            </th>
            <th>SİL</th>
            <th>GÜNCELLE</th>
    </thead>
    <tbody>
        @foreach (var item in Model.Deger6)
        {
            <tr>
                <th>@item.Id</th>
                <td>@item.Award</td>
                <td>@Html.ActionLink("Konferans Sil","KonferansSil",new {id=item.Id},new {@class="btn btn-danger", onclick="return confirm ('Silmek İstiyor Musun ?')" })</td>
                <td><a href="/Konferanslar/KonferansGuncelle/@item.Id" class="btn btn-success">Güncelle</a></td>
            </tr>
        }

    </tbody>
</table>

<a href="/Konferanslar/YeniKonferans" class="btn btn-info">Yeni Konferans Ekle</a>